*
{
    margin: 0px;
    padding: 0px;
}
header
{
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.859);
    padding: 10px;

}
header div
{
    margin: 5px 10px;
    padding: 2px;
}

header div a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    padding: 4px 15px;
}
header div a:hover
{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    
    padding: 4px 15px;
}

.logo a
{
    font-size: 2em;
}
.nav
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    
    width: 45%;
}

.offcanvas
{
    margin: 0px;
}
.offcanvas-body
{
    display: flex;
    flex-direction: column;
    
}
